body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://www.shutterstock.com/image-photo/female-doctor-comforting-depressed-patient-260nw-1672947136.jpg');
  
    background-size: cover;
    background-position: center;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav {
    background-color: #555;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 2rem;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }